*{
    margin: 0%;
    padding: 0%;
}

a{
    font-size: 16px;
   color: #686868;
    text-decoration: none;
}li{
    list-style: none;
    width: 100%;
    margin-left: 2%;
   padding: 10px;
}
ul li:hover{
    border-right: 2px solid blue;
    background-color: rgba(160, 228, 254, 0.693);
    border-radius: 3px;
    color: rgb(0, 181, 252);

    a{
        color: rgb(0, 177, 247);
     }
}
.cont{
    width: 40%;
    height: 140px;
    background-color:white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.box h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.categ{
    color: #686868;
    margin-top: 5%;
    font-size: 16px;
}
.city{
    margin-top: 80%;
    color: #686868;
}
.level{
    background-color:rgba(111, 181, 238, 0.811);
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}
.cont1{
    width: 60%;
    margin-left: 5%;
    margin-top: 3%;
}
.cont1 a{
    width: 40%;
    height: 50px;
    position: relative;
    top: 30px;
    background-color: rgba(0, 110, 244, 0.852);
    border: none;
    padding: 7px 15px ;
    border-radius: 5px;
    color: white;

}
.cont2{
    margin-top: 3%;
    margin-right: 5%;
}
.h1{
    position: absolute;
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 71%;
    padding-bottom: 20px;
    top: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 19%;
}
.select option{
    height: 90px;
}
ul{
    width: 12%;
    margin-left: 3%;
    margin-top: 3%;
}
.box{
    width: 80%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.select{
    width: 25%;
    left: 255px;
    position: absolute;
    top: 130px;
    height: 35px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 3px;
}
.select1{
    width: 25%;
    left: 800px;
    position: absolute;
    top: 130px;
    height: 35px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 3px;
}
